.carousel
{
	position :relative ; 
	height :auto;
	border :none;
	overflow : visible ;
  max-width: 950px;
  margin: 0 auto;
  display: block;
  width: 100%;
}


/* slide container */
.carousel .slides
{
	margin :0;
	padding :0;
	border :none;
	list-style :none;
	position :relative ;
	overflow :visible ;
}

/* slide item */
.carousel .slides .slideItem 
{
	position :absolute ;
	cursor :pointer ;
	overflow : hidden;
	padding :0;
	margin :0;
	border :none;
}